{% extends "base.html" %}
{% block content %}

<div class="card shadow-sm p-4 mx-auto" style="max-width:600px;">
  <h3 class="mb-3 text-center">Run Single Strategy</h3>

  <form method="POST" action="/run" class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Ticker 1</label>
      <input class="form-control" name="ticker1" value="AAPL">
    </div>

    <div class="col-md-6">
      <label class="form-label">Ticker 2</label>
      <input class="form-control" name="ticker2" value="MSFT">
    </div>

    <div class="col-md-6">
      <label class="form-label">Period</label>
      <select name="period" class="form-select">
        <option value="3mo">3 Months</option>
        <option selected value="6mo">6 Months</option>
        <option value="1y">1 Year</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Interval</label>
      <select name="interval" class="form-select">
        <option value="1d" selected>Daily</option>
        <option value="1wk">Weekly</option>
      </select>
    </div>

    <div class="col-12 text-center mt-3">
      <button class="btn btn-primary px-4 py-2">
        Run Strategy 🚀
      </button>
    </div>
  </form>
</div>

{% endblock %}